<html ng-app="testApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="usersController">
		<pre>status code: {{status}}</pre>
		<pre>status text: {{statusText}}</pre>
		<pre>results: {{results}}</pre>
		<div>
			<form ng-submit="postUser()">
				E-mail: <input type="text" ng-model="newEmail" required>
				Member Type: <select ng-model="selectedType" ng-options="type.type for type in types" required></select>
				<input type="submit" value="Add member">
			</form>
		</div>
		<div>
			<table>
				<tr>
					<td style="width:30px">id</td>
					<td style="width:200px">email</td>
					<td style="width:100px">type</td>
					<td style="width:50px"></td>
					<td style="width:50px"></td>
				</tr>
				<tr ng-repeat="user in users">
					<td>{{user.id}}</td>
					<td><input type="text" required ng-value="user.email"></td>
					<td><select required ng-model="myOption" ng-options="type.type for type in types"></select></td>
					<td><input type="button" value="Edit" ng-click="editUser(user)"></td>
					<td><input type="button" value="Delete" ng-click="deleteUser(user)"></td>
				</tr>
			</table>
		</div>
	</body>
</html>